
<html>
    <head>
        <title>Shoosho</title>
        <meta content="Shoosho search engine">
        <style>
            h1 {color:blue;}
            body {
                text-align: center;
            }
            #image {
                height: 200px;
            }
            #search_area{
                width: 400
            }
            #welcome_font{
                font-style: italic;
                font-size: 25;
                color: 00B0AF;

            }
        </style>
    </head>
    <body>
        <h1 id="welcome_font"  >Welcome to our search machine</h1>
        <p>If You Dont Know Something, Just Shosho it</p>
        <br>
        <br>
        <p>
            <img src="http://rack.1.mshcdn.com/media/ZgkyMDEyLzEyLzA0Lzg3L3BvcGV5ZWNyZWF0LmRYdS5naWYKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/8daec493/067/popeye-creator-e-c-segar-gets-spinach-with-his-google-logo-c77abe7905.jpg" alt="HTML5 Icon" id="image">

            <form method="GET" action="search">
                <input type="text" name="query" id="search_area"><br>
                <br>
                <input type="submit" value="Shoosho it">
            </form>
        </p>
    </body>
</html>
